.signup {
  text-align: center;
}

.signup-header {
  color: white;
  padding: 1em 0;
  background-image: linear-gradient(-90deg, var(--main1), var(--main2));
}

.signup-input {
  padding: 0.4em 1em;
  margin: 0.5em;
  border-radius: 50px;
  border: none;
  background: rgb(240, 240, 240);
  font-size: 16px;
  width: 250px;
}

.signup-textarea {
  padding: 0.4em 1em;
  margin: 0.5em;
  border-radius: 50px;
  border: none;
  background: rgb(240, 240, 240);
  font-size: 16px;
  width: 250px;
  max-width: 250px;
}

.signup-button {
  margin: 1em;
  padding: 0.1em 1em;
  border-radius: 50px;
  border: none;
  background: var(--main2);
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.signup-link {
  color: var(--main2);
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.signup-back {
  position: fixed;
  left: 1em;
  height: 40px;
}
