.header {
  position: fixed;
  top: 0;
  background-image: linear-gradient(-90deg, var(--main1), var(--main2));
  background-size: 100% auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}

.header-flex {
  display: flex;
}

.header-profile-name {
  line-height: 1px;
  font-size: 14px;
  color: white;
}

.nav {
  position: fixed;
  z-index: 1;
  top: 70px;
  background: rgb(250, 250, 250);
  width: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 10px 1px lightgray;
}

.nav-item {
  outline: none;
  width: 50px;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(180, 180, 180);
}

.header-icon {
  margin: 1.5em 1em;
  height: 22px;
  cursor: pointer;
}

.header-icon2 {
  margin: 1em;
  height: 40px;
  cursor: pointer;
}

.header-icon3 {
  margin: 10px 2em;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 0;
}

.nav-item-active {
  outline: none;
  transition: 0.5s;
  color: var(--main2);
}

.nav-item-active img {
  outline: none;
  transition: 0.5s;
  filter: sepia(30%) hue-rotate(190deg) saturate(1000%);
}

.header-menu {
  text-align: left;
  margin: 1em;
}

.header-menu button {
  background: none;
  font-size: 15px;
  border: none;
}

.header-menu-share {
  color: var(--main2);
}

.header-menu-logout {
  color: rgb(226, 74, 74);
}
