.jobs {
  padding-top: 250px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.myjobs {
  padding-top: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.jobs-card {
  -webkit-animation: scale-up-hor-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background: rgb(255, 255, 255);
  cursor: pointer;
  left: 0;
  right: 0;
  width: 300px;
  padding: 1em;
  margin: 1em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgb(202, 202, 202);
  color: gray;
  z-index: 0;
  text-align: left;
}

.jobs-card2 {
  -webkit-animation: scale-up-hor-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background-image: linear-gradient(-90deg, var(--main1), var(--main2));
  cursor: pointer;
  left: 0;
  right: 0;
  width: 300px;
  padding: 1em;
  margin: 1em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgb(202, 202, 202);
  color: white;
  z-index: 0;
  text-align: left;
}

.jobs-selected-card {
  -webkit-animation: scale-up-hor-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: 0.5s;
  background-image: linear-gradient(-90deg, var(--main1), var(--main2));
  cursor: pointer;
  left: 0;
  right: 0;
  width: 90%;
  padding-bottom: 1em;
  margin: 1em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgb(202, 202, 202);
  color: white;
  z-index: 0;
}

.jobs-selected-card-tag-item {
  background-image: linear-gradient(-90deg, var(--main1), var(--main2));
  border-radius: 20px;
  padding: 0.1em;
  margin: 5px;
}

.jobs-new-card-tag-item {
  background-image: linear-gradient(-90deg, var(--main1), var(--main2));
  border-radius: 20px;
  transition: 0.5s;
  color: white;
  padding: 0.1em;
  margin: 5px;
}

.jobs-card-title {
  display: flex;
  justify-content: space-evenly;
}
.jobs-load-more {
  cursor: pointer;
  padding: 1em;
  border-radius: 10px;
  color: white;
  background: var(--main2);
  border: none;
  font-size: 1em;
  margin-bottom: 5em;
}

.jobs-card-info {
  display: flex;
  justify-content: space-evenly;
}

.jobs-card-tags {
  display: flex;
  flex-wrap: wrap;
}

.jobs-card-tags-item {
  background: rgb(235, 235, 235);
  border-radius: 20px;
  padding: 0.1em;
  margin: 5px;
}

.myjob-earn {
  color: rgb(36, 179, 83);
}

.jobs-selected-card-body {
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
}

.jobs-selected-bottom-line {
  padding-bottom: 1em;
  border-bottom: 0.5px solid white;
}

.jobs-selected-profile {
  margin: 1em;
  margin-bottom: 2px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.jobs-card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 200px;
}

.jobs-selected-save-button {
  cursor: pointer;
  padding: 0.1em 0.5em;
  width: 120px;
  font-size: 15px;
  outline: none;
  border: none;
  background: white;
  color: var(--main2);
  border-radius: 20px;
  margin: 0.5em 0;
}

.jobs-selected-apply-button {
  outline: none;
  cursor: pointer;
  padding: 0.1em 0.5em;
  width: 120px;
  font-size: 15px;
  margin: 0.5em 0;
  border: none;
  background: var(--main2);
  color: white;
  border-radius: 20px;
}

.jobs-selected-boost-button {
  cursor: pointer;
  padding: 0.1em 0.5em;
  outline: none;
  width: 120px;
  font-size: 15px;
  border: none;
  background-image: linear-gradient(
    -90deg,
    rgb(6, 252, 190),
    rgb(46, 247, 247)
  );
  color: var(--main2);
  border-radius: 20px;
  margin: 0.5em 0;
}

.jobs-selected-finish-button {
  outline: none;
  cursor: pointer;
  padding: 0.1em 0.5em;
  width: 120px;
  font-size: 15px;
  border: none;
  background: var(--main2);
  color: white;
  border-radius: 20px;
  margin: 0.5em 0.1em;
}

.jobs-selected-delete-button {
  outline: none;
  cursor: pointer;
  padding: 0.1em 0.5em;
  width: 120px;
  font-size: 15px;
  border: none;
  background: rgb(226, 74, 74);
  color: white;
  border-radius: 20px;
  margin: 0.5em 0.1em;
}

.jobs-selected-card-body-right {
  border-left: 0.5px solid white;
  padding: 1em;
  text-align: center;
}

.jobs-selected-card-body-left {
  width: 50%;
  max-width: 80%;
}

.jobs-selected-flex {
  display: flex;
  justify-content: space-evenly;
}

.jobs-selected-flex div {
  margin-top: 1em;
  width: 70px;
  text-align: center;
}

.jobs-selected-flex-img {
  width: 35px;
}

.jobs-selected-desc {
  word-wrap: break-word;
}

/*------------------new job----------------*/

.new-job {
  -webkit-animation: scale-up-hor-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  position: fixed;
  background: white;
  top: 10vh;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10000px 1300px rgb(245, 245, 245);
  width: 80%;
  text-align: left;
  padding: 1.5em;
  color: gray;
  max-width: 800px;
  overflow-y: auto;
  max-height: 80vh;
}

.new-job-input {
  outline: none;
  padding: 0.4em 1em;
  margin: 0.5em;
  border-radius: 5px;
  border: none;
  background: rgb(240, 240, 240);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 80%;
}

.new-job-textarea {
  outline: none;
  padding: 0.4em 1em;
  margin: 0.5em;
  border-radius: 5px;
  border: none;
  background: rgb(240, 240, 240);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 80%;
  max-width: 80%;
}

.newjob-number-flex {
  width: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.newjob-minus-button {
  background: rgb(215, 215, 215);
  color: var(--main2);
  font-size: 1em;
  cursor: pointer;
  width: 70px;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.7em;
}

.newjob-plus-button {
  outline: none;
  cursor: pointer;
  background: rgb(215, 215, 215);
  color: var(--main2);
  font-size: 1em;
  width: 70px;
  border: none;
  padding: 0.7em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.newjob-required {
  outline: none;
  font-weight: bold;
  background: rgb(240, 240, 240);
  width: 40px;
  padding: 0.7em;
}

.newjob-tag-list-item {
  background: rgb(235, 235, 235);
  border-radius: 20px;
  padding: 0.1em;
  margin: 5px;
  cursor: pointer;
}

.new-job-details {
  border-radius: 5px;
  padding: 1em;
  background: rgb(226, 226, 226);
  color: black;
  margin: 1em;
}

.new-job-details span {
  color: gray;
}

.newjob-hours-list {
  background: rgb(235, 235, 235);
  padding: 0.5em;
  border-radius: 20px;
}
.newjob-hours-list-item {
  padding: 0.2em;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 10px;
}

.newjob-hours-list-item2 {
  padding: 0.2em;
  transition: 0.5s;
  background: var(--main2);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.jobs-datepicker {
  padding: 0.5em;
  margin: 0.5em;
  outline: none;
  cursor: pointer;
  height: 15px;
  background: var(--main2);
  border-radius: 5px;
  border: none;
  color: white;
}

.newjob-close-btn {
  border: none;
  height: 40px;
  position: relative;
}

.newjob-back-btn {
  border: none;
  background: var(--main2);
  position: relative;
  padding: 0.4em;
  border-radius: 50%;
}

/*----------------------------------*/

.job-add-button {
  -webkit-animation: scale-up-hor-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  z-index: 2;
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: var(--main2);
}

.job-top-flex-p {
  background: rgb(250, 250, 250);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px lightgray;
  color: black;
}

.job-img-button3 {
  cursor: pointer;
  filter: brightness(0) invert(1);
  height: 40px;
  outline: none;
  width: 40px;
}

.dashboard-card {
  position: fixed;
  z-index: 3;
  top: 73px;
}

.myjobs-main-head-flex {
  width: 250px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  margin: 100px auto;
  padding-top: 50px;
  position: fixed;
  background: rgb(250, 250, 250);
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 10px 1px lightgray;
}

.myjobs-main-head-flex p {
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  width: 80px;
  padding: 0.5em 1em;
  color: white;
  font-size: 15px;
  margin: 0.5em;
}

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
