.filter-card-main {
  -webkit-animation: scale-up-ver-bottom 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  position: fixed;
  text-align: left;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background: rgb(250, 250, 250);
  max-width: 500px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 15px 5px gainsboro;
}
.filter-card-main-inner {
  margin: 1em;
}

.filter-card-flex {
  display: flex;
  justify-content: space-evenly;
  background: rgb(231, 231, 231);
  margin: 1em;
  border-radius: 50px;
}

.filter-card-flex2 {
  background: rgb(250, 250, 250);
  display: flex;
  justify-content: space-evenly;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 5px 2px gainsboro;
  padding: 1.5em 0;
}

.filter-card-cancel {
  width: 100px;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 20px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  background: rgb(250, 250, 250);
  color: gray;
  border: none;
  box-shadow: 0px 0px 5px 2px gainsboro;
}

.filter-card-search {
  width: 100px;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 20px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: rgb(250, 250, 250);
  background-color: var(--main2);
  border: none;
  box-shadow: 0px 0px 5px 2px gainsboro;
}

.map-card-main {
  -webkit-animation: scale-up-ver-bottom 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  position: fixed;
  text-align: left;
  bottom: 0;
  z-index: 3;
  width: 90%;
  background: rgb(250, 250, 250);
  left: 0;
  right: 0;
  margin: 10vh 5%;
  box-shadow: 0px 0px 15px 5px gainsboro;
  overflow: hidden;
  border-radius: 20px;
}

/**
 * ----------------------------------------
 * animation scale-up-ver-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
