.chat-main {
  -webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  z-index: 3;
  background: rgb(255, 255, 255);
  position: fixed;
  height: 70%;
  width: 90%;
  max-width: 1000px;
  left: 0;
  right: 0;
  margin: 0;
  border-radius: 10px;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0px 0px 10px 1px rgba(82, 82, 82, 0.283);
  font-size: 14px;
}

.chat-main2 {
  -webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  z-index: 3;
  background: rgb(255, 255, 255);
  position: fixed;
  width: 90%;
  max-width: 1000px;
  left: 0;
  right: 0;
  margin: 0;
  border-radius: 10px;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0px 0px 10px 1px rgba(82, 82, 82, 0.283);
  font-size: 14px;
  cursor: pointer;
}

.chat-top {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--main2);
}

.chat-content {
  position: fixed;
  max-height: 60%;
  width: 90%;
  margin: 0 5% 0 3.5%;
  overflow-y: scroll;
}

.chat-div-form {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(243, 240, 240);
  position: fixed;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chat-form {
  margin: 1em;
  display: flex;
  justify-content: flex-start;
}

.chat-form button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 0.2em 0.5em;
  background: var(--main2);
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.chat-form input {
  font-family: "Roboto", sans-serif;
  outline: none;
  width: 100%;
  border-radius: 5px;
  padding: 0.5em 1em;
  background: gainsboro;
  color: white;
  font-size: 14px;
  border: none;
}

.chat-each-message {
  color: white;
  float: left;
  margin: 1em;
  background: var(--main2);
  width: 60%;
  font-size: 13px;
  padding: 0.3em;
  line-height: 0;
  padding-top: 0;
  border-radius: 10px;
}

.chat-each-message2 {
  color: white;
  float: right;
  margin: 1em;
  background: rgb(142, 220, 254);
  width: 60%;
  padding: 0.3em;
  padding-top: 0;
  border-radius: 10px;
}

.chat-each-date {
  line-height: 0;
  font-size: 10px;
}

.chat-top-title {
  text-align: center;
  width: 100%;
  padding: 0.4em 1em;
  line-height: 0;
  font-size: 15px;
}

.chat-top-logout {
  cursor: pointer;
  background: var(--main2);
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 5px;
}

.chat-confirmed {
  border: none;
  background: rgb(19, 102, 19);
  font-size: 15px;
  padding: 0.3em 0.8em;
  margin: 0 10px;
  box-shadow: 0px 0px 10px 1px gainsboro;
  border-radius: 20px;
  color: white;
}

.chat-section {
  margin: 0.5em auto;
  background: white;
  box-shadow: 0px 0px 10px 1px gainsboro;
  border-radius: 10px;
  text-align: center;
  padding: 0.5em;
  width: 300px;
}

.chat-each-profile {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0.7em;
}

.chat-each-flex {
  display: flex;
  justify-content: flex-start;
}
.chat-each-flex div {
  line-height: 1;
}

.owner-info-chat {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid gainsboro;
}

.owner-info-chat img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.owner-info-green {
  color: rgb(58, 218, 122);
  font-weight: bold;
  width: 50px;
}

.owner-info-blue {
  color: var(--main2);
  font-weight: bold;
  width: 50px;
}
