.notifications {
  margin-top: 1em;
  text-align: center;
  font-size: 14px;
  overflow-y: auto;
  max-height: 70vh;
}

.card-notification {
  text-align: left;
  margin: 1em;
  background: none;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 1px rgb(231, 231, 231);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 14px;
}

.notifications-status {
  font-weight: bold;
}

.notifications-time {
  color: rgb(212, 212, 212);
  line-height: 0;
}

.notifications-card-img {
  margin: auto 5px;
  height: 40px;
}

.notifications-delete {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: white;
  font-size: 12px;
  border: none;
  background: rgb(226, 74, 74);
  box-shadow: 0px 0px 5px 1px gainsboro;
  float: right;
  left: 5px;
  border-radius: 5px;
}

.notifications-div-info {
  margin-left: 5px;
  width: 100%;
}

.notifications-slide {
  -webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background: rgb(255, 255, 255);
  position: fixed;
  box-shadow: 0px 10px 20px 1px rgb(212, 212, 212);
  margin-top: 73px;
  width: 220px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
}

.notifications-clear-all {
  outline: none;
  border: none;
  border-radius: 20px;
  background: var(--main2);
  color: white;
  font-family: "Roboto", sans-serif;
  width: 50%;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  cursor: pointer;
}

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
