.review-main {
  background: rgb(250, 250, 250);
  box-shadow: 0px 0px 10px 1px rgb(184, 184, 184);
  width: 90%;
  position: fixed;
  margin: 1em auto;
  left: 0;
  right: 0;
  max-width: 500px;
  border-radius: 10px;
  max-height: 70vh;
  overflow-y: auto;
}

.review-head {
  color: white;
  padding: 2em 0;
  background-image: linear-gradient(-90deg, var(--main1), var(--main2));
  border-radius: 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  text-align: center;
}

.review-main-content {
  padding: 1em;
}

.review-yes {
  outline: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.3em 0.8em;
  font-size: 15px;
  color: var(--main2);
  box-shadow: 0px 0px 10px 1px gainsboro;
  background: none;
  border: none;
  margin: 0.5em;
}

.review-no {
  outline: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.3em 0.8em;
  font-size: 15px;
  color: rgb(218, 39, 39);
  box-shadow: 0px 0px 10px 1px gainsboro;
  background: none;
  border: none;
  margin: 0.5em;
}

.review-rate {
  outline: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.3em 0.8em;
  font-size: 15px;
  color: rgb(119, 83, 36);
  box-shadow: 0px 0px 10px 1px rgb(220, 220, 220);
  background: rgb(255, 199, 17);
  border: none;
  margin: 0.5em;
}

.review-textarea {
  font-family: "Roboto", sans-serif;
  outline: none;
  background: rgb(243, 243, 243);
  border-radius: 5px;
  border: none;
  font-size: 1em;
  width: 100%;
  margin: 1em auto;
  padding: 0.7em 0;
}

.review-submit {
  outline: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.3em 0.8em;
  font-size: 15px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 1px gainsboro;
  background: var(--main2);
  border: none;
  font-size: 22px;
  margin: 0.3em;
}

.review-close {
  outline: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.7em 1em;
  font-size: 15px;
  color: rgb(109, 109, 109);
  box-shadow: 0px 0px 5px 1px gainsboro;
  background: white;
  border: none;
  margin: 0.3em;
}

.rate-main {
  -webkit-animation: scale-up-hor-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background: rgb(255, 255, 255);
  position: fixed;
  box-shadow: 0px 0px 10px 1px gainsboro;
  left: 0;
  right: 0;
  margin: 1em auto;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  padding: 1em;
}
