.editjob-main {
  -webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  position: fixed;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: white;
  padding: 1em;
}
