@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(250, 250, 250);
}

* {
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --main1: rgb(135, 186, 245);
  --main2: rgb(45, 123, 212);
}
