@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main1: rgb(100, 152, 211);
  --main2: rgb(43, 112, 190);
  --main3: skyblue;
  --main4: skyblue;
}

code {
  font-family: "Roboto", sans-serif;
}

.app {
  text-align: center;
  color: black;
}
